.main-container {
    background-image: url(../../../../public/assets/images/register_back.svg);
    background-clip: padding-box;
    background-position: right 150px bottom 0;
    background-repeat: no-repeat;
    background-size: 40%;
}