.auth-login {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 450px;
    height: 100dvh;
    background-color: #323232;
}

@media screen and (max-width: 600px) {
    .auth-login {
        width: 100%;
    }
}

.logo-container {
    display: none;
}

.labels-login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 16px;
    h3 {
        color: #fff;
        margin: 0 16px;
    }
    input {
        padding: 12px;
        border-radius: 8px;
        margin: 0 32px;
        background-color: #ffffff10;
        color: #fff;
        &::placeholder {
            color: #fff;
        }

        &:focus {
            border: 1px solid #3D33D5;

            transition: 0.3s color;
            &::placeholder {
                color: transparent;
            }
        }
    }
}

.btn-submit-login {
    padding: 12px;
    margin: 0 32px;
    border-radius: 8px;
    background-color: #3D33D5;
    color: #fff;
    cursor: pointer;
    &:hover {
        background-color: #2b22a8;
        transition: 0.3s background-color;
    }
}

.btn-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    margin: 0 32px;
    &:hover {
        background-color: #2b22a8;
        transition: 0.3s background-color;
    }
    i {
        color: #fff;
    }
}

.register-text {
    display: flex;
    justify-content: right;
    a {
        text-decoration: underline;
        color: #eeeeee;
        font-size: 0.75rem;
        margin: 0 32px;
    }
}