<div class="kanban-board">
    <div class="kanban-column">
        <h2>To do</h2>
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList, inProgressList, approvedList]" class="kanban-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of todo; track item) {
            <div class="kanban-card" cdkDrag>{{item}}</div>
            }
        </div>
    </div>
    <div class="kanban-column">
        <h2>Done</h2>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, inProgressList, approvedList]" class="kanban-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of done; track item) {
            <div class="kanban-card" cdkDrag>{{item}}</div>
            }
        </div>
    </div>
    <div class="kanban-column">
        <h2>InProgress</h2>
        <div cdkDropList #inProgressList="cdkDropList" [cdkDropListData]="inProgress"
            [cdkDropListConnectedTo]="[todoList, doneList, approvedList]" class="kanban-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of inProgress; track item) {
            <div class="kanban-card" cdkDrag>{{item}}</div>
            }
        </div>
    </div>
    <div class="kanban-column">
        <h2>Approved</h2>
        <div cdkDropList #approvedList="cdkDropList" [cdkDropListData]="approved"
            [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]" class="kanban-list"
            (cdkDropListDropped)="drop($event)">
            @for (item of approved; track item) {
            <div class="kanban-card" cdkDrag>{{item}}</div>
            }
        </div>
    </div>
</div>